@tailwind base;
@tailwind components;
@tailwind utilities;

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body, html {
  height: 100%; /* Make sure the body and html fill the viewport height */
  margin: 0;    /* Reset default margin */
  overflow-y: scroll;
}

#slide-in {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #0f0f0f;
  transform-origin: right;
}

#slide-out {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #0f0f0f;
  transform-origin: left;
}

/*
*
*   Index
*
*/

/* all screens */
#index-content {
  @apply flex flex-row w-full justify-center
}

#changelog {
  @apply ml-8 pl-8 border-l
}

#changelog .header2 {
  @apply text-xl font-bold pb-6
}

#changelog .change-item {
  @apply pb-4
}

#changelog .link {
  @apply underline
}

#changelog .link:hover {
  @apply text-amber-600 transition
}

/* small screens */
@media (max-width: 768px) {
  #changelog {
      @apply ml-0 pl-0 border-t border-l-0 pt-5
  }
  #bio {
    @apply pb-5
  }
  #index-content {
    @apply flex-col
  }
}



/*
*
*   Footer
*
*/

.social span {
  transform: translateY(-15px);
  transition: transform 300ms, opacity 300ms;
}

.social i {
  transition: transform 300ms;
}

.social:hover span {
  transform: translateY(0);
  opacity: 1;
}

.social:hover i {
  transform: scale(1.2)
}

#footer a {
  @apply flex flex-col items-center social;
}

#footer span {
  @apply text-xs mt-2 opacity-0 text-amber-600;
}

/*
*
*   Header
*
*/

#title {
  font-family: 'Inter', sans-serif; 
}

#headerpic {
  filter: grayscale(.7);
}

/*
*
*   Tech.tsx
*
*/

#tech li {
  @apply ml-6
}

#tech .text-overlay {
  @apply transition duration-500 border-2 rounded border-black;
}

.project-container .text-overlay {
  opacity: 0;
}

.project-container:hover .text-overlay {
  opacity: 1;
}

.project-container:hover .project-image {
  opacity: 0.5;
}

#tech .text-overlay div {
  @apply border border-black rounded px-2 bg-gray-50;
}

/*
*
*   Gallery
*
*/

#postcards {
  font-family: 'Cedarville Cursive'
}

.tag {
  @apply border rounded-lg px-2 py-1 m-2 text-sm transition cursor-pointer
}

.tag.active {
  background-color: gray;
  color: white;
  transform: scale(1.1);
}

.thumb {
  filter: grayscale(75%);
  padding: 8px;
  border-width: thin;
  border-color: black;
}

@media (max-width: 768px) {
  .thumb {
    filter: grayscale(0%);
  }
}

#lb {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000000e1;
  overflow-y: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

#lb-img-container {
  width: 90%;
  height: 90%;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center; 
}

#lb-img {
  max-height: 100%;
  max-width: 100%;
  object-fit: contain;
  @apply rounded-lg;
}

#lb-back {
  background-color: white;
  opacity: .5;
  border-radius: 50%;
  z_index: 1002;
  transform-origin: center;
  height: 4%;
  position: absolute;
  top: 48%;
  left: 1.5%;
  @apply cursor-pointer;
}

#lb-next {
  background-color: white;
  opacity: .5;
  border-radius: 50%;
  z-index: 1001;
  transform-origin: center;
  height: 4%;
  position: absolute;
  top: 48%;
  right: 1.5%;
  @apply cursor-pointer;
}

#lb-close {
  transform-origin: center;
  height: 2%;
  position: absolute;
  top: 2%;
  left: 49%;
  @apply cursor-pointer;
}

#lb-close:hover {
  transition: 200ms ease-in-out;
  transform: scale(1.3);
}

#lb-next:hover {
  transition: 200ms ease-in-out;
  transform: scale(1.3);
}

#lb-back:hover {
  transition: 200ms ease-in-out;
  transform: scale(1.3);
}

#lb-text {
  position: absolute;
  top: 92%;
  font-family: 'Cedarville Cursive', cursive;
  @apply bg-white px-2 rounded border-b transition md:text-xl
}

/*
*
*   Climbing
*
*/

#nosewrapper {
  width: 80vw;
  min-width: 325px;
  max-width: 768px;
}

#thenose {
  background-image: url("https://patslookout.s3.us-west-2.amazonaws.com/climbing/elcap4.jpg");
  background-size: cover;
  background-position: center;
  width: 100%;
  padding-top: 65.36%;
  position: relative;
  border-radius: 5px;
  box-shadow: 5px 5px 5px lightgray;
  z-index: 0;
}

.label {
  position: absolute;
  font-size: .8em;
  padding-left: 8px;
  padding-right: 8px;
  background-color: rgb(255,179,186);
  opacity: .4 ;
  transform: translate(-48%, 0%);
  border-color: rgb(0,0,0);
  border-width: 2px;
  border-radius: 3px;
  transition: all 150ms linear;
}

.nose-label-active {
  opacity: 1;
  transform: translate(-48%, 0%)
}

#label1 {
  top: 55.8%;
  left: 46%;
  z-index: 10;
}

#circle1 {
  top: 56.6%;
  left: 56.4%;
  z-index: 10;
}

#label2 {
  z-index: 20;
  top: 33.8%;
  left: 43%;
}

#circle2 {
  z-index: 20;
  top: 34.6%;
  left: 53.6%;
}

#label3 {
  top: 7.7%;
  left: 40.9%;
  z-index: 30;
}

#circle3 {
  top: 8.6%;
  left: 53.6%;
  z-index: 30;
}

#label0 {
  top: 90.7%;
  left: 42.6%;
  z-index: 30;
}

#circle0 {
  top: 91.5%;
  left: 57%;
  z-index: 30;
}

.nose-circle {
  z-index: 50;
  position: absolute;
  width: 16px;
  height: 16px;
  background-color: rgba(0,0,0,.2);
  border-width: 2px;
  border-radius: 50%;
  border-color: rgba(0,0,0);
  transition: all 150ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.nose-circle-active {
  background-color: rgb(255, 107, 107);
  transition: all 150ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
}


/* climbers were causing mouseover bugs because of z-index 
all these and future climbers must have z-index < 10 to keep it under the labels*/
#climber0 {
  top: 86%;
  left: 40.9%;
  z-index: 1;
}

#climber1 {
  top: 57%;
  left: 45.9%;
  z-index: 1;
}

#climber2 {
  top: 36.5%;
  left: 54.5%;
  z-index: 2;
}

#climber3 {
  top: -6%;
  right: 45%;
  z-index: 3;
}

.climber {
  width: 20%;
  position: absolute;
  opacity: 0;
  transform: translate(0, 20%);
  transition: all 150ms linear;
}

@media only screen and (max-width: 767px) {
  .label {
    transform: translate(-83%, -10%);
  }
}

.climber-active {
  opacity: 1;
  transform: translate(0, 0);
  transition: all 150ms linear;
}


/*
*
*   BatWall
*
*/

#batwall .header1 {
  font-weight: bold;
  font-size: 3em;
  font-style: underline;
}

#batwall .header2 {
  font-weight: bold;
  margin-top: 6px;
  margin-bottom: 6px;
  margin-left: 20px;
}

#batwall  .header3 {
  margin-left: 40px;
}

#batwall li, p {
  padding-left: 40px;
}

.bat-table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.bat-table thead tr {
  background-color: #6e0000;
  color: #ffffff;
  text-align: left;
}

.bat-table th,
.bat-table td {
  padding: 12px 15px;
}

.bat-table tbody tr {
  border-bottom: 1px solid #6e0000;
}

.bat-table tbody tr:nth-child(even) {
  background-color: #f3f3f3;
}

.bat-table tbody tr:last-of-type {
  border-bottom: 2px solid #6e0000;
}

.bat-table tbody tr.active-row {
  font-weight: bold;
  color: #009879;
}

/*
*
*   Flow
*
*/

#flow .para {
  @apply mt-3
}

#flow .head {
  @apply mt-6 font-bold text-lg
}

#flow img {
  @apply my-10
}

/*
*
*   Climbing Gyms
*
*/

#gyms .header1 {
  font-weight: bold;
  font-size: 3em;
  font-style: underline;
}

#gyms .header2 {
  font-size: 2em;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 6px;
}

#gyms .para {
  @apply mt-5
}

#gyms .gym-image {
  @apply my-10
}

#gyms li {
  @apply my-2
}

#gyms .gym-title {
  @apply text-amber-600 text-lg md:text-xl;
}

#gyms .sky-link {
  @apply underline
}

#gyms .sky-link:hover {
  @apply text-amber-600 transition
}